 /* Make the image fully responsive */
 body { 
    margin: 0;
    font-family: Alyssum, Alyssum, Alyssum;
    margin-left: 20px;
    margin-right: 20px;
  }
 .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  
  .meal_title{
    color: #e2a165;
    background-color:black; 
    display: center;
    text-align: center;
  }